@keyframes open-modal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes close-modal {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

div#modalOn {
    animation: open-modal 200ms forwards;
}

div#modalOff {
    animation: close-modal 200ms forwards;
}

div#modalOn,
div#modalOff
{
    width: 1015px;
    height: 557px;

    background-color: var(--cultured);

    border-radius: 20px;

    position: fixed;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);

    transition: all 2s;

    opacity: 0;

    div#modalArea {
        justify-content: center;
        
        height: 100%;

        position: relative;
        
        img#modalButtonLeave {
            position: absolute;
            left: 10px;
            top: 10px;
            
            width: 50px;
            height: 50px;
            
            transition: transform 200ms;
        }
        
        img#modalButtonLeave:hover {
            transform: scale(1.1);
        }

        div#areaPresentGame {
            flex: 1;
            justify-content: space-between;

            h1#titleGame {
                margin-bottom: 20px;
            }

            img#imageGame {
                width: 350px;
            }
        }

        div#areaPriceBoard {
            flex: 1;

            height: 100%;

            div#priceBoard {
                height: 200px;

                span#price {
                    font-size: 66px;
                }

                span#subPrice,
                span#frete
                {
                    font-size: 30px;
                }
            }
        }

        button#buttonAddCart,
        button#buttonRemoveCart
        {
            color: var(--cultured);
            
            padding: 20px 10px;
            
            border: none;
            outline: none;
            
            font-size: 1.5rem;
            
            transition: all 200ms;
        }
        
        button#buttonAddCart {
            background-color: var(--old-gold);
        }
        
        button#buttonRemoveCart {
            background-color: var(--indian-red);
        }

        button#buttonAddCart:hover,
        button#buttonRemoveCart:hover 
        {
            transform: scale(1.1);
        }

        button#buttonAddCart:active,
        button#buttonRemoveCart:active
        {
            transform: scale(1.0);
        }
    }
}

div#modalArea,
div#areaPresentGame,
div#areaPriceBoard,
div#priceBoard
{
    display: flex;
    align-items: center;
}

div#areaPresentGame,
div#areaPriceBoard,
div#priceBoard
{
    flex-direction: column;
}

div#areaPriceBoard,
div#priceBoard
{
    justify-content: space-around;
}

span.green {
    color: var(--yellow-green);
}