div#Header {
    justify-content: flex-start;
    
    background-color: var(--prussian-blue);
    
    width: 102px;
    height: 100vh;
    
    span#timetable {
        color: var(--cultured);
        
        font-size: 24px;
        
        margin-top: 20px;
    }
    
    nav#navBar {
        
        ul#list {
            justify-content: space-evenly;

            list-style-type: none;

            li.item {

                div.circle {
                    width: 64px;
                    height: 64px;

                    justify-content: center;

                    border: 1px solid var(--cultured);
                    border-radius: 100%;
                }
            }
        }
    }
}

nav#navBar,
ul#list
{
    width: 100%;
    height: 100%;
}

div#Header,
ul#list,
div.circle
{
    display: flex;
    flex-direction: column;
    align-items: center;
}