div#Header {
    justify-content: flex-start;
    
    background-color: var(--prussian-blue);
    
    width: 112px;
    height: 100vh;

    position: fixed;
    left: 0;
    top: 0;
    
    span#timetable {
        color: var(--cultured);
        
        font-size: 24px;
        
        margin-top: 20px;
    }
    
    nav#navBar {
        
        ul#list {
            justify-content: space-evenly;

            list-style-type: none;

            li.item {

                div.circle {
                    width: 64px;
                    height: 64px;

                    justify-content: center;

                    border: 1px solid var(--cultured);
                    border-radius: 100%;

                    transition: transform 200ms;
                }

                div.circle:hover {
                    transform: scale(1.1);
                }

                div.circle:active {
                    transform: scale(1.0);
                }
            }
        }
    }
}

nav#navBar,
ul#list
{
    width: 100%;
    height: 100%;
}

div#Header,
ul#list,
div.circle
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 742px) {
    div#Header {
        width: 80px;

        nav#navBar {
            ul#list {
                li.item {
                    div.circle {
                        width: 40px;
                        height: 40px;

                        img {
                            width: 26px;
                            height: 26px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 472px) {
    div#Header {
        width: 100%;
        height: 60px;
    
        z-index: 1;

        nav#navBar {

            ul#list {
                flex-direction: row;

                li.item {
                    div.circle {
                        width: 30px;
                        height: 30px;

                        img {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }
        }
    }
}