:root {
    --cultured: #F5F5F5;
    --alice-blue: #EDF7FD;
    --uranian-blue: #A8E0FF;
    --sky-blue-crayola: #8EE3F5;
    --middle-blue: #70CAD1;
    --prussian-blue: #062637;
    --blue-background: #157A82;
    --old-gold: #D5B942;
    --indian-red: #DB5461;
    --red-notification: #FC1F34;
    --yellow-green: #8FC93A;
}

* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;

    box-sizing: border-box;
}

body {
    background-color: var(--blue-background);
}