div#App {

    main#Main {
        margin-left: 122px;

        div#topHeader {
            justify-content: space-between;
            align-items: center;
            
            height: 100px;
            
            span#title {
                font-size: 50px;
                
                margin-left: 20px;
            }
            
            img#imageCart {
                margin-right: 20px;
            }
        }
        
        div#AreaGames {
            width: 79.5%;

            margin-left: 122px;
            margin-right: 122px;

            div#filterGames {

                span#text {
                    font-size: 30px;

                    margin-right: 20px;
                }

            }

            div#games {
                margin-top: 20px;

                justify-content: center;

                flex-wrap: wrap;

                @keyframes open-modal {
                    from {
                        opacity: 0;
                    }

                    to {
                        opacity: 1;
                    }
                }

                @keyframes close-modal {
                    from {
                        opacity: 1;
                    }

                    to {
                        opacity: 0;
                    }
                }

                div#modalOn {
                    animation: open-modal 200ms forwards;
                }
                
                div#modalOff {
                    animation: close-modal 200ms forwards;
                }

                div#modalOn,
                div#modalOff
                {
                    width: 1015px;
                    height: 557px;
                
                    background-color: var(--cultured);
                
                    border-radius: 20px;
                
                    position: fixed;
                    left: 55%;
                    top: 50%;
                    transform: translate(-50%, -50%);

                    transition: all 2s;

                    opacity: 0;

                    div#modalArea {
                        height: 100%;

                        position: relative;

                        img#modalButtonLeave {
                            position: absolute;
                            left: 10px;
                            top: 10px;

                            width: 50px;
                            height: 50px;

                            transition: transform 200ms;
                        }

                        img#modalButtonLeave:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}

span#title,
span#text
{
    color: var(--cultured);
}

main#Main,
div#AreaGames
{
    flex-direction: column;
}

div#App,
main#Main,
div#AreaGames
{
    justify-content: flex-start;
    align-items: flex-start;
}

div#App,
main#Main,
div#topHeader,
div#AreaGames,
div#filterGames,
div#games
{
    display: flex;
}

main#Main,
div#topHeader,
div#modalArea
{
    width: 100%;
}
