div#App {

    main#Main {
        margin-left: 122px;

        div#topHeader {
            justify-content: space-between;
            align-items: center;
            
            height: 100px;
            
            h1#title {
                font-size: 50px;
                
                margin-left: 20px;
            }
            
            div#imageCart {
                width: 75px;
                height: 65px;

                margin-right: 20px;

                background-image: url(../assets/icon-cart.svg);
                background-repeat: no-repeat;
                background-position: center;

                position: relative;

                div#counterArea {
                    width: 20px;
                    height: 20px;

                    background-color: var(--red-counter);

                    border-radius: 100%;

                    position: absolute;
                    right: 5px;
                    top: 5px;

                    justify-content: center;
                    align-items: center;
                    
                    span#counterText {
                        color: var(--cultured);

                        font-weight: bold;
                    }
                }
            }
        }
        
        div#AreaGames {
            width: 79.5%;

            margin-left: 122px;
            margin-right: 122px;

            div#filterGames {
                width: 100%;

                span#text {
                    font-size: 30px;

                    margin-right: 20px;
                }

            }

            div#games {
                margin-top: 20px;

                justify-content: center;

                flex-wrap: wrap;
            }
        }
    }
}

h1#title,
span#text
{
    color: var(--cultured);
}

main#Main,
div#AreaGames
{
    flex-direction: column;
}

div#App,
main#Main,
div#AreaGames
{
    justify-content: flex-start;
    align-items: flex-start;
}

div#App,
main#Main,
div#topHeader,
div#AreaGames,
div#filterGames,
div#games,
div#counterArea
{
    display: flex;
}

main#Main,
div#topHeader,
div#modalArea
{
    width: 100%;
}
