div#modalCartOn {
    animation-name: open-modal-cart;
}

div#modalCartOff {
    animation-name: close-modal-cart;
}

div#modalCartOn,
div#modalCartOff
{
    position: fixed;
    right: 80px;
    top: 80px;

    width: 506px;
    height: 462px;
    
    background-color: var(--cultured);
    
    border-radius: 20px;

    animation-duration: 200ms;
    animation-fill-mode: forwards;

    padding-top: 20px;

    div#safeArea {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img#iconLeave {
        width: 30px;
        height: 30px;

        position: absolute;
        left: 10px;
        top: 10px;

        transition: transform 200ms;
    }

    img#iconLeave:hover {
        transform: scale(1.1);
    }

    img#iconLeave:active {
        transform: scale(1.0);
    }

    div#safeArea {
        margin-top: 30px;
        width: 100%;
    }
}

@keyframes open-modal-cart {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

@keyframes close-modal-cart {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0;
    }
}