div#modalCartOn {
    animation-name: open-modal-cart;
}

div#modalCartOff {
    animation-name: close-modal-cart;
}

div#modalCartOn,
div#modalCartOff
{
    position: fixed;
    right: 80px;
    top: 80px;

    width: 506px;
    height: 462px;
    
    background-color: var(--cultured);
    
    border-radius: 20px;

    animation-duration: 200ms;
    animation-fill-mode: forwards;

    padding-top: 40px;

    overflow: hidden;

    div#safeArea {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        width: 100%;
        height: 100%;

        overflow-y: auto;
    }

    img#iconLeave {
        width: 30px;
        height: 30px;

        position: absolute;
        left: 10px;
        top: 10px;

        transition: transform 200ms;
    }

    img#iconLeave:hover {
        transform: scale(1.1);
    }

    img#iconLeave:active {
        transform: scale(1.0);
    }
}

@keyframes open-modal-cart {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

@keyframes close-modal-cart {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0;
    }
}

@media screen and (max-width: 674px) {
    div#modalCartOn,
    div#modalCartOff
    {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 544px) {
    div#modalCartOn,
    div#modalCartOff
    {
        width: 80vw;
    }
}